* {
    margin:0;
    padding:0;
}

#pageContainer
{
    margin: 30px 50px;
    background-color: white;
    height: 100%
}

h1, h2 {
    text-align: center;
}

#game {
    width: 100%;
    height: auto;
    background-color:black;
    border-style: solid;
}
#start {
    width: 100%;
    height: 50pt;
    font-size: 40pt;
}
#originalLinkDisclaimer {
    margin: 10px;
    text-align: center;
}
#originalLink {
    font-size: larger;
    text-align: center;
    display: block;
}
#description
{
    
}